p {
    margin:auto;
    font-size: .8em;
    color: black;
    font-family: helvetica; 
    text-align: left; 
    width:45%;  
}

h1 {
    text-align: center;
    margin: auto;
    font-size: 2em;
    color: rgb(39, 37, 37);
    font-family: Nimbus Sans Extd;
    font-style: black;
    margin-top: 5%;
}

h2 {
    text-align: center;
    margin: auto;
    font-size: 1em;
    color: rgb(39, 37, 37);
    font-family: briller;
    font-style: black;
    margin-top: 5%;
}

.title {
    font-size: 24pt;
    color:orange;
    
}

div {
    font-family:avenir;
    font-style: regular;
    text-align: center;
    margin-left:10%;
    font-size: .9em;

}

.img {
    height:5px;
    width:5px;
    
}

/* ----------- SMART PHONES ----------- */


@media only screen and (max-width: 800px) {

}

body {
    background-color: white;
}


/* ----------- TABLETS ----------- */

@media only screen and (min-width: 800px) and (max-width: 1280px)

body {
    background-color: white;
}